:root {
      --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
          Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
              "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
                  "Source Han Sans CN", sans-serif;
                  
}

.main-container {
      overflow: hidden;
      
}

.main-container,
.main-container * {
      box-sizing: border-box;
      
}

input,
select,
textarea,
button {
      outline: 0;
      
}


body  {
      background-image: url("/images/blue.jpg");
      
}

body:is(html[class~="dark"] *) {
  --tw-bg-opacity: 1;
      background-image: url("/images/dark.jpg");
  --tw-text-opacity: 1;
}

.giscus-comment :is(html[class~="dark"] *) {
  --tw-text-opacity: 1;
  color: rgb(54 54 54 / var(--tw-text-opacity));
}

.styled-div {
width: 85%; /* Set the width to 85% of the viewport */
margin: 0 auto; /* Center the div horizontally */
padding: 20px; /* Adding some padding for inner content */
border: 2px solid #ff69b4; /* Pink border */
border-radius: 15px; /* Rounded corners */
box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); /* Shadow effect */
background: radial-gradient(circle, #fff6c1, #ff69b4); /* Pink radial gradient background */
color: #00f; /* Text color for better contrast */
text-align: center; /* Center the text */

}

/* Responsive Design */
@media (max-width: 768px) {
.styled-div {
width: 95%; /* Adjust width on smaller screens */

}
    
}

/* static/css/styles.css */
.giscus-comment {
        border: 1px solid #ddd;
            border-radius: 8px;
                padding: 15px;
                    margin-bottom: 20px;
                        background-color: #f9f9f9;
                        
}

.giscus-comment-header {
        display: flex;
            align-items: center;
                margin-bottom: 10px;
                justify-content: end;
                
}

.giscus-avatar {
        width: 40px;
            height: 40px;
                border-radius: 50%;
                    margin-right: 10px;
                    
}

.giscus-user-info {
        display: flex;
            flex-direction: column;
            
}

.giscus-nickname {
        font-weight: bold;
        
}

.giscus-date {
        color: #777;
            font-size: 0.9em;
            
}

.giscus-comment-body p {
        margin: 0;
        
}

.giscus-comment-footer {
        margin-top: 10px;
            display: flex;
                gap: 10px;
                
}

.giscus-badge {
        background-color: #e0e0e0;
            padding: 5px 10px;
                border-radius: 15px;
                    font-size: 0.9em;
                        color: #555;
                        
}

.wrap {
    min-width:240px;
    max-width:700px;
    margin:0 auto;
}
.spin-wrapper {
    -webkit-box-shadow: 0 0 10px;
    box-shadow: 0 0 10px;
    border: 3px solid red;
    padding: 20px 10px;
    border-radius: 10px;
    text-align: center;
    box-sizing: border-box 
}
#align .spin-wrapper p {
    text-align: center;
    font-size: 21px !important;
    line-height: 1.4 !important;
    margin-bottom: 15px 
}
.wheel-wrapper {
    text-align: center 
}
.wheel {
    margin: 0 auto;
    position: relative 
}
.wheel-cursor {
    position: absolute;
    width: 35% !important;
    height: 35%;
    top: 49%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%) 
}
.cursor-text {
    position: absolute;
    z-index: 2;
    display: inline-block;
    width: 32% !important;
    height: 36%;
    line-height: 61px;
    cursor: pointer;
    border-radius: 50%;
    vertical-align: middle;
    text-align: center;
    background-color: #ccc;
    border: 1px solid #ccc;
    top: 58%;
    left: 50%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-box-shadow: rgba(255, 255, 255, 1) 0 -2px 0 inset, rgba(255, 255, 255, 1) 0 2px 0 inset, rgba(0, 0, 0, .4) 0 0 5px;
    box-shadow: rgba(255, 255, 255, 1) 0 -2px 0 inset, rgba(255, 255, 255, 1) 0 2px 0 inset, rgba(0, 0, 0, .4) 0 0 5px;
    background: #fff;
    background: -webkit-gradient(radial, center center, 0, center center, 100%, color-stop(0, rgba(255, 255, 255, 1)), color-stop(100%, rgba(234, 234, 234, 1)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 1) 0, rgba(234, 234, 234, 1) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 1) 0, rgba(234, 234, 234, 1) 100%);
    background: -webkit-radial-gradient(center, ellipse, rgba(255, 255, 255, 1) 0, rgba(234, 234, 234, 1) 100%);
    background: -o-radial-gradient(center, ellipse, rgba(255, 255, 255, 1) 0, rgba(234, 234, 234, 1) 100%);
    background: radial-gradient(ellipse at center, rgba(255, 255, 255, 1) 0, rgba(234, 234, 234, 1) 100%) 
}
.wheel-img {
    -webkit-transition: 4s;
    -o-transition: 4s;
    transition: 4s 
}
.cursor-text:active {
    -webkit-box-shadow: rgba(0, 0, 0, .4) 0 0 5px inset;
    box-shadow: rgba(0, 0, 0, .4) 0 0 5px inset 
}
.spin-result-wrapper {
    display: none;
    padding: 0 10px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    top: 0;
    z-index: 999;
    left: 0;
    height: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, .6);
    text-align: center 
}
.wheel img {
    max-width: 100% 
}
@media all and (max-width: 520px) {
    .cursor-text {
        line-height: 48px;
        font-size: 10px;
        width: 52% !important;
        top: 59% ;
        height: 50% !important
    }
}
.super-rotation {
    -webkit-animation-name: super-rotation;
    animation-name: super-rotation;
    -webkit-animation-duration: 7s;
    animation-duration: 7s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out 
}
@-webkit-keyframes super-rotation {
    70% {
        -webkit-transform: rotate(1783deg);
        transform: rotate(1783deg) 
    }
    100% {
        -webkit-transform: rotate(1774deg);
        transform: rotate(1774deg) 
    }
}
@keyframes super-rotation {
    70% {
        -webkit-transform: rotate(1783deg);
        transform: rotate(1783deg) 
    }
    100% {
        -webkit-transform: rotate(1774deg);
        transform: rotate(1774deg) 
    }
}
 .wheel_input {
     padding: 10px !important;
     display: block !important;
     margin: 0 auto 20px!important;
     padding: 10px !important;
     width: 50% !important;
     border: 2px solid grey !important;
     border-radius: 5px !important;
}

 @media screen and (max-width: 480px) {
     .wheel_input {
         width: 90%!important;
    }
     .country_select {
         width: 96%!important;
    }
}


 .productform{
    width:100%;
    margin:0 0px 20px
}

 .productform img {
     display: inline-block;
}
 

.door__wrapper .door__container {
  display: flex !important;
  justify-content: space-around !important;
}

.door__wrapper .box__door {
  perspective: 500px !important;
  position: relative !important;
}

.door__wrapper .box__door,
.door__wrapper .door {
  width: 190px !important;
  height: 400px !important;
  box-shadow: inset -1px -1px 0 1px #191919, inset 1px 1px 0 1px #191919 !important;
}

.door__wrapper .door,
.door__wrapper .hi {
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  width: 100% !important;
  height: 100% !important;
}

.door__wrapper .door {
  background-image: url(/png/door.png) !important;
  background-repeat: no-repeat !important;
  background-size: 100% !important;
  transform: rotateY(0deg) !important;
  display: inline-block !important;
  transition: all 0.75s ease !important;
  transform-origin: 0% 0% !important;
  cursor: pointer !important;
}

#door__2 {
  background-image: url(/png/xdoor2.png) !important;
}

#door__3 {
  background-image: url(/png/xdoor3.png) !important;
}

.door__wrapper .door:hover {
  transform: rotateY(-30deg) !important;
}

.door__wrapper .door.open {
  transform: rotateY(-85deg) !important;
}

.door__wrapper .door__sales {
  text-align: center;
  position: absolute !important;
  top: 38% !important;
  left: 50% !important;
  transform: translate(-50%, -50%);
  font-size: 55px !important;
  line-height: 57px !important;
  font-weight: 700 !important;
  color: red !important;
  border-radius: 30px !important;
  padding: 30px 5px !important;
  box-shadow: 0 1px 2px 2px #7f7878 !important;
  width: 85% !important;
  min-width: 70px !important;
}

.door__wrapper .door__title {
  text-align: center;
  color: #fff !important;
  font-weight: 700 !important;
  text-transform: uppercase !important;
  text-align: center !important;
  font-size: 22px !important;
  margin-bottom: 25px !important;
  background-color: #3a4752 !important;
  padding: 10px 0 !important;
  border-radius: 0.5em !important;
}

@media (max-width: 840px) {
  .door__wrapper .door__sales {
    font-size: 20px !important;
    line-height: 22px !important;
    font-weight: 700 !important;
    color: red !important;
    border-radius: 30px !important;
    width: 65% !important;
    min-width: 50px !important;
  }

  .door__wrapper .box__door,
  .door__wrapper .door {
    width: 95px !important;
    height: 200px !important;
  }

}

@media (max-width: 360px) {
  .door__wrapper .box__door + .box__door {
    margin-left: 15px !important;
  }

  .door__wrapper .door__sales {
    font-size: 19px !important;
    line-height: 21px !important;
    font-weight: 700 !important;
    color: red !important;
    border-radius: 30px !important;
  }
}




.demon_popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  font-family: sans-serif;
  display: none;
  z-index: 9999;
}

.demon_popup.active {
  display: block;
}

.demon_overflow {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

.demon_popup_body {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 850px;
  padding: 20px 20px 90px;
  background: linear-gradient(135deg, #3c72b5 0, #7b9fcc 100%) 0 0;
  box-sizing: border-box;
  border: 5px solid #ddd;
  min-height: 415px;
}

.demon_popup_title {
  width: 100%;
  text-align: center;
  font-size: 28px;
  color: #fff;
  margin: 0;
}

.demon_popup_body img {
  width: 48%;
  max-width: 280px;
  position: absolute;
  left: 25px;
  top: 50%;
  transform: translateY(-50%);
  object-fit: contain;
  margin: 0 10px 0 0;
}

.demon_popup_body p {
  padding-left: 295px;
  font-size: 23px;
  line-height: 1.3;
  margin: 0;
  padding-top: 30px;
  color: #fff;
}

.demon_popup_body p span {
  color: #de455c;
  white-space: nowrap;
  font-size: 34px;
  font-weight: 700;
}

.demon_popup_body p:first-of-type {
  padding-top: 58px;
}

.demon_popup_body a:last-of-type {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 20px;
  height: 60px;
  background: transparent
    linear-gradient(
      to bottom,
      #de455c 0,
      #de455c 13%,
      #c01f37 76%,
      #c01f37 100%
    )
    repeat scroll 0 0;
  color: #e0e2e6;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  max-width: 400px;
  font-size: 26px;
  font-weight: 900;
  border-radius: 10px;
  text-decoration: none;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.8);
}

.demon_popup_body a:last-of-type:hover {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: pulse;
  animation-name: pulse;
}

.demon_close {
  z-index: 1;
  position: absolute;
  top: 20px;
  right: 20px;
  width: 30px;
  height: 30px;
  display: block;
  cursor: pointer;
}

.demon_close:after {
  content: "";
  width: 40px;
  height: 4px;
  background-color: #de455c;
  transform: rotate(45deg);
  position: absolute;
  top: 13px;
  left: -5px;
}

.demon_close:before {
  content: "";
  width: 40px;
  height: 4px;
  background-color: #de455c;
  transform: rotate(-45deg);
  position: absolute;
  top: 13px;
  left: -5px;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.demon_popup.active .demon_popup_body {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

@-webkit-keyframes pulse {
  from {
    -webkit-transform: translateX(-50%) scale(1);
    transform: translateX(-50%) scale(1);
  }

  50% {
    -webkit-transform: translateX(-50%) scale(1);
    transform: translateX(-50%) scale(1.05);
  }

  to {
    -webkit-transform: translateX(-50%) scale(1);
    transform: translateX(-50%) scale(1);
  }
}

@keyframes pulse {
  from {
    -webkit-transform: translateX(-50%) scale(1);
    transform: translateX(-50%) scale(1);
  }

  50% {
    -webkit-transform: translateX(-50%) scale(1);
    transform: translateX(-50%) scale(1.05);
  }

  to {
    -webkit-transform: translateX(-50%) scale(1);
    transform: translateX(-50%) scale(1);
  }
}

@media (max-width: 767px) {
  .demon_popup_body img {
    position: relative;
    left: auto;
    top: auto;
    transform: none;
    display: block;
    margin: 15px auto 0 auto;
  }
  .demon_popup_body p {
    text-align: center;
    padding-left: 0;
  }
  .demon_popup_body p:first-of-type {
    padding-top: 20px;
  }
}
@media (max-width: 520px) {
  .demon_popup_body {
    max-width: 100vw;
  }
  .demon_popup_body img {
    width: 80%;
  }
  .demon_popup_title {
    font-size: 20px;
    margin-top: 40px;
  }
  .demon_popup_body p {
    font-size: 16px;
    padding-top: 10px;
  }
  .demon_popup_body a:last-of-type {
    font-size: 18px;
  }
}


/* Form */
.lead-form-box {
  display: none;
}

#lead-form-result {
  display: none;
  box-sizing: border-box;
  width: 100%;
  border-radius: 3px;
  padding: 7px;
  font-size: 15px;
  color: #a94442;
  background-color: #f2dede;
  border: 1px solid #ebccd1;
}

.order_block,
.order_block * {
  box-sizing: border-box;
  transition: 0.2s;
  font-family: Arial, sans-serif !important;
}

.order_block {
  max-width: 430px;
  width: 100%;
  margin: auto;
  text-align: center;
  background: #fff;
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.12);
  border: 3px dashed #eaeaea;
  border-radius: 0;
}

.order_block .order_offer {
  text-align: center;
}

.order_block .order_offer img {
  max-width: 100%;
  width: auto;
}

.order_pre_form {
  padding: 20px 20px 0 20px;
}

.order_form_row {
  margin-bottom: 10px;
  text-align: left;
}

.order_form {
  width: 100%;
  max-width: 500px;
  padding: 0 20px 20px 20px;
}

.order_header {
  margin: 12px 0 !important;
  padding: 0 !important;
  font-size: 18px !important;
}

.order_form .order_form_row input {
  width: 100% !important;
  padding: 14px;
  border: 2px solid #eaeaea;
  font-size: 15px;
  border-radius: 3px;
  box-shadow: none !important;
  margin: 0 !important;
}

.order_form .order_form_row label {
  font-size: 13px;
  text-align: left;
  font-weight: bold;
}

.order_form .order_form_row input:active,
.order_form .order_form_row input:focus {
  outline: none;
  border: 2px solid #cecece;
}

.order_form .order_form_button {
  box-shadow: 0 1px 0 0 #f5978e inset;
  background: #f24537;
  border-radius: 3px;
  border: 1px solid #d02718;
  width: 100%;
  display: inline-block;
  cursor: pointer;
  color: #fff;
  text-transform: uppercase;
  outline: none;
  padding: 16px 0;
  font-weight: bold;
  font-size: 16px;
  margin-top: 5px;
  text-decoration: none;
  letter-spacing: 0.6px;
  text-shadow: 0 1px 0 #810e05;
}

.order_form .order_form_button:hover {
  background: #c62d1f;
}

.order_form .order_form_button:active {
  position: relative;
  top: 1px;
}

.order_timer_block {
  line-height: 1;
  font-weight: bold;
}

.order_timer_block p {
  font-size: 18px;
  margin: 10px 0 !important;
  padding: 0 !important;
}

.order_timer_block .order_timer {
  font-size: 21px;
  text-align: center;
}

.time_remains {
  color: red;
}
/* /Form */

.form {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.price {
  margin-bottom: 20px;
  color: #fff;
  background-color: #04c0e8;
  font-size: 20px;
  font-weight: 600;
  padding: 20px 5px;
  display: block;
  line-height: 250%;
  width: 100%;
}

.spann {
  font-size: 25px;
  color: #044085;
}

.fields {
  display: flex;
  flex-direction: column;
  padding: 0 0 20px 0;
}

.fields__input {
  width: 300px;
  height: 50px;
  padding: 0 10px;
  margin: 0 auto 20px;
  border: 2px solid #04c0e8;
  border-radius: 8px;
  font-size: 16px;
}

.fields__btn {
  width: 300px;
  padding: 20px 10px;
  margin: 0 auto 20px;
  font-size: 20px;
  font-weight: 600;
  color: #04c0e8;
  background-color: #08687e;
  border: 2px solid #04c0e8;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s linear;
  text-transform: uppercase;
}

.fields__btn:hover {
  color: #08687e;
  background-color: #04c0e8;
  border: 2px solid #08687e;
  transform: scale(0.9);
}



